# Auto detect text files and perform LF normalization
* text=auto
x = 3
y = float(3)
print(x,y)

Values = [1.2,3,9,8.4,6]
    print(Values)
    for i in Values:
    print (i)
    print (values[0])

x = "this is a thing"
y= x.split( )
z = y[0]
print(y)
print(z)
